<h2>Show party</h2>

<ul>

  <li>
    <strong>Size:</strong>
    <%= @party.size %>
  </li>

</ul>

<span><%= link "Edit", to: party_path(@conn, :edit, @party) %></span>
<span><%= link "Back", to: party_path(@conn, :index) %></span>
