<div style="display: flex; height: 100vh;align-items: center; justify-content: center;">
<div style="text-align: center">
<h1 class="gradient-text">The Fanimaid kitchen<br/>is heating up!</h1>
<br/>
<p>
<button style="color: rgb(217, 46, 138); border-color: rgb(217, 46, 138);"
    class="button is-large is-disabled is-disabled is-outlined">Reservations begin May 28, 2022</button>
    </p>
</div>
</div>
